<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="ImageTransform Test Suite">
            <directory suffix="Test.php">./test/ImageTransform/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/ImageTransform/</directory>
        </whitelist>
    </filter>
</phpunit>